@import "tailwindcss";

/* *:focus {
  outline: 2px solid #f97316 !important;
  outline-offset: 2px !important;
} */

::selection {
  background: #e86507e8;
  color: white;
}

* {
  -webkit-tap-highlight-color: transparent;
  pointer-events: auto;
  /* user-select: none; */
}

@config "../tailwind.config.js";
